:root {
  --color-white: #fff;
  --color-dark-grey: rgb(62, 56, 56);
  --color-dark-red: #960d0d;
  --color-petrol: #6ee1ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: var(--color-petrol);
  align-items: center;
  justify-content: center;
  font-family: "Barlow", sans-serif;
}

.navi {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--color-dark-grey);
  border-bottom: 0.125rem solid var(--color-dark-red);
  position: sticky;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}

.navi span {
  margin-right: 1rem;
}

#name {
  margin-right: auto;
  margin-left: 1rem;
  letter-spacing: 0.125rem;
}

#pic-me {
  width: 2.5rem;
  height: 3.31rem;
}

.fa-github {
  color: black;
  fill: black;
}

.fa-linkedin-in {
  color: black;
  fill: black;
}

.github-icon-tiles {
  color: var(--color-white);
  fill: var(--color-white);
}

#slogan {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.3rem;
}

#h1-jump-box {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  max-width: 55%;
}

h1 {
  color: var(--color-dark-grey);
  font-size: 3.375rem;
}

h1:hover {
  cursor: pointer;
  color: var(--color-dark-red);
  padding-left: 4.75rem;
  transition-duration: 0.05s;
}

p {
  font-size: 1.4rem;
}

@media screen and (max-device-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }

  h1:hover {
    cursor: pointer;
    color: var(--color-dark-red);
    padding-left: 0rem;
    transition-duration: 0.05s;
  }

  #h1-jump-box {
    margin-top: 1rem;
  }

  #slogan {
    padding-top: 1rem;
  }
}

#pTiles {
  display: flex;
  justify-content: space-around;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  min-width: 68%;
  justify-content: center;
  color: var(--color-white);
}

.project {
  display: flex;
  width: 25rem;
  height: 25rem;
  margin: 0.5rem;
}

.tileLinks {
  color: var(--color-white);
  margin-right: 1.375rem;
}

#pOne-overlay {
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-grey);
  opacity: 0.7;
  height: 25rem;
  width: 25rem;
  display: none;
  position: absolute;
}

#pOne-overlay p {
  margin-left: 1.375rem;
  margin-right: 1.375rem;
}

#pTwo-overlay {
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-grey);
  opacity: 0.7;
  height: 25rem;
  width: 25rem;
  display: none;
  position: absolute;
}

#pTwo-overlay p {
  margin-left: 1.375rem;
  margin-right: 1.375rem;
}

#pThree-overlay {
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-grey);
  opacity: 0.7;
  width: 25rem;
  height: 25rem;
  display: none;
  position: absolute;
}

#pThree-overlay p {
  margin-left: 1.375rem;
  margin-right: 1.375rem;
}

.footer {
  display: flex;
  position: relative;
  width: 96%;
  margin-left: 2%;
  margin-top: 7.2%;
  justify-content: space-between;
  font-family: monospace;
}

.location .towerPic {
  visibility: hidden;
  max-width: 11.25rem;
  bottom: 100%;
  left: 5%;
  margin-left: -5.625rem;
  position: absolute;
  z-index: 1;
}

.location:hover .towerPic {
  visibility: visible;
}

.imprint {
  display: flex;
  cursor: pointer;
  justify-self: flex-end;
}

.imprint .imprintBox {
  visibility: hidden;
  max-width: 11.25rem;
  bottom: 100%;
  left: 95%;
  margin-left: -5.625rem;
  background-color: var(--color-white);
  color: var(--color-dark-red);
  position: absolute;
  z-index: 1;
  font-family: "Barlow";
}

.imprint:hover .imprintBox {
  visibility: visible;
}
