:root {
  --color-white: #fff;
  --color-dark-grey: rgb(62, 56, 56);
  --color-dark-red: #960d0d;
  --color-petrol: #6ee1ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh; /* dynamic viewport hight (also available as width - dvw) */
  background-color: var(--color-petrol);
  align-items: center;
  justify-content: center;
  font-family: "Barlow", sans-serif;
}

.navi {
  display: flex;
  /* margin: 1rem 48px; */
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--color-dark-grey);
  border-bottom: 0.125rem solid var(--color-dark-red);
  position: fixed;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}

.navi span {
  margin-right: 1rem;
}

#name {
  margin-right: auto;
  margin-left: 1rem;
  letter-spacing: 2px;
}

#pic-me {
  width: 2.5rem;
  height: 3.31rem;
}

#slogan {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.3rem;
}

h1 {
  display: flex;
  max-width: 55%;
  color: var(--color-dark-grey);
  font-size: 3.375rem;
  margin-top: 80px;
  margin-bottom: 5rem;
}

h1:hover {
  cursor: pointer;
  color: var(--color-dark-red);
  margin-top: 4.6875rem;
  margin-left: 48px;
  transition-duration: 0.4s;
}

#pTiles {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  width: 68%;
  justify-content: space-between;
}

.project {
  display: flex;
  width: 400px;
  height: 400px;
}

.tileLinks {
  color: var(--color-white);
}

#pOne-overlay {
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-grey);
  opacity: 0.7;
  height: 25rem;
  width: 25rem;
  display: none;
  position: absolute;
}

#pTwo-overlay {
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-grey);
  opacity: 0.7;
  height: 25rem;
  width: 25rem;
  display: none;
  position: absolute;
}

#pThree-overlay {
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-grey);
  opacity: 0.7;
  height: 25rem;
  width: 25rem;
  display: none;
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 1rem;
  right: 16px;
  margin-left: 24px;
  opacity: 0.6;
  font-family: "Parisienne";
  font-size: 20px;
}

.imprint {
  cursor: pointer;
}

.imprint .imprintBox {
  visibility: hidden;
  width: 180px;
  bottom: 100%;
  left: 5%;
  margin-left: -90px;
  background-color: var(--color-white);
  color: var(--color-dark-red);
  position: absolute;
  z-index: 1;
  font-family: "Barlow";
}

.imprint:hover .imprintBox {
  visibility: visible;
}
